body {
    font-family: 'Montserrat';
    margin: 0 auto;
    color: rgb(42, 42, 42);
}

main {
    max-width: 1280px;
    margin: auto;
}

.banner-content {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.image-container {
    width: 50%;
}

.image-container img {
    max-width: 100%;
}

.title-container {
    width: 50%;
}

.title-container h1 {
    font-weight: 900;
    font-size: 45px;
}

.title-container a {
    font-weight: 900;
    background: yellow;
    padding: 15px 50px 15px 50px;
}

.title-container p {
    padding-bottom: 30px;
}

.logo img {
    max-width: 64px;
}

a {
    text-decoration: none;
    color: rgb(42, 42, 42);
    text-transform: uppercase;
}

a:visited {
    text-decoration: none;
    color: rgb(42, 42, 42);
    text-transform: uppercase;
}

a:hover {
    transform: rotate(90);
    color: rgb(167, 164, 164);
    opacity: 0.5;
}

.top-container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1280px;
    background: #fff;
}

.navigation {
    display: inline-block;
}

.navigation ul li {
    display: inline;
    margin-right: 30px;
}

.navigation ul li:last-child {
    margin-right: 0px;
}

.grid-container-blog {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    column-gap: 50px;
}

.grid-container-blog img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.image-showcase-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.image-showcase-grid img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.image-showcase-item1 {
    grid-column: 1/2;
    grid-row: 1/3;
}

.image-showcase-item2 {
    grid-column: 1/2;
    grid-row: 3/last-line;
}

.image-showcase-item3 {
    grid-column: 2/3;
    grid-row: 1/4;
}

.image-showcase-item4 {
    grid-column: 2/3;
    grid-row: 4/last-line;
}

.image-showcase-item5 {
    grid-column: 3/4;
    grid-row: 1/3;
}

.image-showcase-item6 {
    grid-column: 3/4;
    grid-row: 3/last-line;
}

.grid-container-about {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 25px;
    grid-template-rows: 1fr 1fr 1fr;
}

.grid-container-about img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.grid-about1 {
    grid-column: 1/2;
    grid-row: 1/4;
}

.grid-about2 {
    grid-column: 2/3;
    grid-row: 1/4;
}

.grid-about3 {
    grid-column: 3/4;
    grid-row: 2/3;
}

.contact-content {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.image-container2 {
    width: 50%;
}

.image-container2 img {
    max-width: 100%;
}

.message-box-container {
    width: 50%;
}

.message-box-container a {
    font-weight: 900;
    background: yellow;
    padding: 15px 50px 15px 50px;
}

.box1 {
    margin: 20px 100px 20px 0px;
    background-color: lightgrey;
    padding: 10px 5px 10px 10px;
}

.box2 {
    margin: 20px 100px 20px 0px;
    background-color: lightgrey;
    padding: 10px 5px 100px 10px;
}


.phone-grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    height: 10%;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}

.phone-grid img {
    object-fit: cover;
    max-width: 100%;
    height: 100%;
}

.phone-image1 {
    grid-column: 2/3;
    grid-row: 1/2;
    height: 40%;
}

.phone-image2 {
    grid-column: 3/4;
    grid-row: 1/2;
    height: 40%;
}

.phone-image3 {
    grid-column: 4/5;
    grid-row: 1/2;
    height: 40%;
}

.phone-text1 {
    grid-column: 2/3;
    grid-row: 2/3;
}

.phone-text2 {
    grid-column: 3/4;
    grid-row: 2/3;
}

.phone-text3 {
    grid-column: 4/5;
    grid-row: 2/3;
}

.bottom-container {
    display: flex;
    justify-content: space-between;
    background-color: black;
    text-align: center;
    padding-top: 50px;
    padding-right: 100px;
    padding-bottom: 50px;
    padding-left:25px;
}

.logo-copy {
    display: flex;
}

.bottom-container a {
    color: white;
}

.bottom-container p {
    color: grey;
}