body {
    font-family: 'Montserrat';
    margin: 0 auto;
    color: rgb(42, 42, 42);
}

main {
    max-width: 1280px;
    margin: auto;
}

.banner-content {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.image-container {
    width: 50%;
}

.image-container img {
    max-width: 100%;
}

.title-container {
    width: 50%;
}

.title-container h1 {
    font-weight: 900;
    font-size: 45px;
}

.title-container a {
    font-weight: 900;
    background: yellow;

    /* top right bottom left */

    padding: 15px 50px 15px 50px;

    /* padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px; */
}

.title-container p {
    padding-bottom: 30px;
}

.logo img {
    max-width: 64px;
}

a {
    text-decoration: none;
    color: rgb(42, 42, 42);
    text-transform: uppercase;
}

a:visited {
    text-decoration: none;
    color: rgb(42, 42, 42);
    text-transform: uppercase;
}

a:hover {
    transform: rotate(90);
    color: rgb(167, 164, 164);
    /* opacity - ryskumas */
    opacity: 0.5;
}

.top-container {
    display: flex;
    justify-content: space-between;
    /* automatiskai parenka parastes is kaires ir desines puses */
    margin: auto;
    /* svetaines iscentravimas su margin auto ir maksimaliu plociu */
    max-width: 1280px;
    background: #fff;
}

.navigation {
    display: inline-block;
}

.navigation ul li {
    display: inline;
    margin-right: 30px;
}

.navigation ul li:last-child {
    margin-right: 0px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    column-gap: 50px;
}

.grid-container img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}